<a name="pagecontent" id="pagecontent"></a>

<div class="page landing-page landing-page--millenia clearfix">

    <section class="hero" 
        style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('{{ 'millenia-hero.jpg' | asset_img_url: '1920x' }}'); background-size: cover;">
        <h1 class="hero__title">{{page.title}}</h1>
        <p class="hero__desc">{{page.content}}</p>
        <img src="{{ 'icon-arrow-down-white.svg' | asset_url }}" alt="down arrow" class="hero__arrow">

    </section>

    {% comment %} Description {% endcomment %}
    <section class="section section--dark title-section">
        <div class="container title-section__content">
            <h2 class="title-section__title">MODERN. SLEEK. CONTEMPORARY AF.</h2>
            <p class="title-section__desc">
                The coolest, sexiest and most progressive frameless collection you've ever seen is finally here.
                Available in 6 vibrant colorways and equipped with Superflash Polarized Lenses. Welcome to the Future.
            </p>
        </div>

    </section>

    {% comment %} First Product Grid {% endcomment %}
    <section class="section product-grid-section">

        <div class="container product-grid grid pg-1">

            {% assign blue_phoenix = all_products.blue-phoenix %}
            {% assign kiwi_ice = all_products.kiwi-ice %}
            {% assign nocturnal = all_products.nocturnal-q %}

            {% comment %} BLUE PHOENIX Image {% endcomment %}
            <div class="image-wrapper pg-img pg-bp-ls">
                <img src="{{'millenia-lifestyle-blue-phoenix.jpg' | asset_img_url: '800x' }}" alt="Blue Phoenix" class="image__img">
            </div>

            {% comment %} BLUE PHOENIX Product {% endcomment %}
            <div class="product pg-product pg-bp">
                <a href="{{ blue_phoenix.url }}" class="product__link">
                    <img
                        src="{{ blue_phoenix.featured_image | img_url: '640x'}}"
                        alt="{{ blue_phoenix.title }}"
                        class="lazyload blur product__img pg-product__img"
                        data-sizes="auto"
                        data-src="{{ blue_phoenix.featured_image | product_img_url: '900x' }}"
                        data-srcset=" {{ blue_phoenix.featured_image | product_img_url: '300x' }} 300w,
                                        {{ blue_phoenix.featured_image | product_img_url: '400x' }} 400w,
                                        {{ blue_phoenix.featured_image | product_img_url: '500x' }} 500w,
                                        {{ blue_phoenix.featured_image | product_img_url: '600x' }} 600w,
                                        {{ blue_phoenix.featured_image | product_img_url: '700x' }} 700w,
                                        {{ blue_phoenix.featured_image | product_img_url: '800x' }} 800w,
                                        {{ blue_phoenix.featured_image | product_img_url: '900x' }} 900w"
                    >
                </a>
                <p class="product__title">
                    <a href="{{ blue_phoenix.url }}" class="product__link">{{ blue_phoenix.title }}</a>
                </p>

                <p class="product_price">
                    <span class="money">{{blue_phoenix.price | money }}</span>
                </p>


                {%if blue_phoenix.available %}
                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ blue_phoenix.variants.first.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product-info__add btn btn--dark add-to-cart" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>
                {% else %}
                    <p class="btn btn--add-to-class">Sold Out</p>
                {% endif %}
            </div>

            {% comment %} KIWI ICE Image {% endcomment %}
            <div class="image-wrapper pg-img pg-ki-ls">
                <img src="{{'millenia-lifestyle-kiwi-ice.jpg' | asset_img_url: '800x' }}" alt="" class="image__img">
            </div>

            {% comment %} KIWI ICE Product {% endcomment %}
            <div class="product pg-product pg-ki">
                <a href="{{ kiwi_ice.url }}" class="product__link">
                    <img
                        src="{{ kiwi_ice.featured_image | img_url: '640x'}}"
                        alt="{{ kiwi_ice.title }}"
                        class="lazyload blur product__img pg-product__img"
                        data-sizes="auto"
                        data-src="{{ kiwi_ice.featured_image | product_img_url: '900x' }}"
                        data-srcset=" {{ kiwi_ice.featured_image | product_img_url: '300x' }} 300w,
                                        {{ kiwi_ice.featured_image | product_img_url: '400x' }} 400w,
                                        {{ kiwi_ice.featured_image | product_img_url: '500x' }} 500w,
                                        {{ kiwi_ice.featured_image | product_img_url: '600x' }} 600w,
                                        {{ kiwi_ice.featured_image | product_img_url: '700x' }} 700w,
                                        {{ kiwi_ice.featured_image | product_img_url: '800x' }} 800w,
                                        {{ kiwi_ice.featured_image | product_img_url: '900x' }} 900w"
                    >
                </a>
                <p class="product__title">
                    <a href="{{ kiwi_ice.url }}" class="product__link">{{ kiwi_ice.title }}</a>
                </p>

                <p class="product_price">{{ kiwi_ice.price | money }}
                </p>


                {%if kiwi_ice.available %}
                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ kiwi_ice.variants.first.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product-info__add btn btn--dark add-to-cart" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>
                {% else %}
                    <p class="btn btn--add-to-class">Sold Out</p>
                {% endif %}

            </div>

            {% comment %} Nocturnal Image {% endcomment %}
            <div class="image-wrapper pg-img pg-noc-ls">
                <img src="{{'millenia-lifestyle-nocturnal.jpg' | asset_img_url: '800x' }}" alt="" class="image__img">
            </div>

            {% comment %} Nocturnal Product {% endcomment %}
            <div class="product pg-product pg-noc">
                <a href="{{ nocturnal.url }}" class="product__link">
                    <img
                        src="{{ nocturnal.featured_image | img_url: '640x'}}"
                        alt="{{ nocturnal.title }}"
                        class="lazyload blur product__img pg-product__img"
                        data-sizes="auto"
                        data-src="{{ nocturnal.featured_image | product_img_url: '900x' }}"
                        data-srcset=" {{ nocturnal.featured_image | product_img_url: '300x' }} 300w,
                                        {{ nocturnal.featured_image | product_img_url: '400x' }} 400w,
                                        {{ nocturnal.featured_image | product_img_url: '500x' }} 500w,
                                        {{ nocturnal.featured_image | product_img_url: '600x' }} 600w,
                                        {{ nocturnal.featured_image | product_img_url: '700x' }} 700w,
                                        {{ nocturnal.featured_image | product_img_url: '800x' }} 800w,
                                        {{ nocturnal.featured_image | product_img_url: '900x' }} 900w"
                    >
                </a>
                <p class="product__title">
                    <a href="{{ nocturnal.url }}" class="product__link">{{ nocturnal.title }}</a>
                </p>

                <p class="product_price">
                    <span class="money">{{nocturnal.price | money }}</span>
                </p>


                {%if nocturnal.available %}
                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ nocturnal.variants.first.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product-info__add btn btn--dark add-to-cart" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>
                {% else %}
                    <p class="btn btn--add-to-class">Sold Out</p>
                {% endif %}

            </div>

        </div>

        {% comment %} Need Mobile for below product-grid grid layout {% endcomment %}
    </section>

    {% comment %} Lifestyle Grid {% endcomment %}
    <section class="section section--dark">
        <div class="container grid lifestyle-grid lifestyle-grid--1 ls-grid-1">

            {% comment %} Six lifestyle images {% endcomment %}
            <h2 class="lifestyle__title grid__title ls-grid-1__title">The <span class="bold">Future</span> has Arrived</h2>

            <h3 class="lifestyle__subtitle grid__subtitle ls-grid-1__subtitle">Progressive</h3>

            <div class="grid__img-container ls-grid-1__illo">
                <img src="{{'Millenia_TiltedView.svg' | asset_url }}" alt="Blenders Eyewear Millenia Kiwi Ice" class="grid__img">
            </div>
            
            <div class="grid__img-container ls-grid-1__noc-2">
                <img src="{{'millenia-lifestyle-nocturnal-2.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Kiwi Ice" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-1__ki-2">
                <img src="{{'millenia-lifestyle-kiwi-ice-02.jpg' | asset_img_url: '640x'}}" alt="Blenders Eyewear Millenia Kiwi Ice" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-1__bp-2">
                <img src="{{'millenia-lifestyle-blue-phoenix-02.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Blue Phoenix" class="grid__img">
            </div>


            <div class="grid__img-container ls-grid-1__noc-3">
                <img src="{{'millenia-lifestyle-nocturnal-3.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Kiwi Ice" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-1__bp-3">
                <img src="{{'millenia-lifestyle-blue-phoenix-3.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Kiwi Ice" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-1__bp-1">
                <img src="{{'millenia-hero-blue-phoenix-1.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Kiwi Ice" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-1__illo-2">
                <img src="{{'Millenia_SideArmView.svg' | asset_url}}" alt="Blenders Millenia Kiwi Ice" class="grid__img">
            </div>

            

        </div>
    </section>


    {% comment %} Second Product Grid {% endcomment %}
    <section class="section product-grid-section">

        <div class="container product-grid grid pg-1">

            {% assign jenna_cartel = all_products.jenna-cartel %}
            {% assign autumn_fire = all_products.autumn-fire %}
            {% assign berry_loud = all_products.berry-loud %}


            {% comment %} Jenna Cartel Image {% endcomment %}
            <div class="image-wrapper pg-img pg-jc-ls">
                <img src="{{'millenia-lifestyle-jenna-cartel-1.jpg' | asset_img_url: '800x' }}" alt="Blue Phoenix" class="image__img">
            </div>

            {% comment %} Jenna Cartel Product {% endcomment %}
            <div class="product pg-product pg-jc">
                <a href="{{ jenna_cartel.url }}" class="product__link">
                    <img
                        src="{{ jenna_cartel.featured_image | img_url: '640x'}}"
                        alt="{{ jenna_cartel.title }}"
                        class="lazyload blur product__img pg-product__img"
                        data-sizes="auto"
                        data-src="{{ jenna_cartel.featured_image | product_img_url: '900x' }}"
                        data-srcset=" {{ jenna_cartel.featured_image | product_img_url: '300x' }} 300w,
                                        {{ jenna_cartel.featured_image | product_img_url: '400x' }} 400w,
                                        {{ jenna_cartel.featured_image | product_img_url: '500x' }} 500w,
                                        {{ jenna_cartel.featured_image | product_img_url: '600x' }} 600w,
                                        {{ jenna_cartel.featured_image | product_img_url: '700x' }} 700w,
                                        {{ jenna_cartel.featured_image | product_img_url: '800x' }} 800w,
                                        {{ jenna_cartel.featured_image | product_img_url: '900x' }} 900w"
                    >
                </a>
                <p class="product__title">
                    <a href="{{ jenna_cartel.url }}" class="product__link">{{ jenna_cartel.title }}</a>
                </p>

                <p class="product_price">
                    <span class="money">{{jenna_cartel.price | money }}</span>
                </p>


                {%if jenna_cartel.available %}
                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ jenna_cartel.variants.first.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product-info__add btn btn--dark add-to-cart" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>
                {% else %}
                    <p class="btn btn--add-to-class">Sold Out</p>
                {% endif %}

            </div>

            {% comment %} Autumn Fire Image {% endcomment %}
            <div class="image-wrapper pg-img pg-af-ls">
                <img src="{{'millenia-lifestyle-autumn-fire-1.jpg' | asset_img_url: '800x' }}" alt="" class="image__img">
            </div>

            {% comment %} Autumn Fire Product {% endcomment %}
            <div class="product pg-product pg-af">
                <a href="{{ autumn_fire.url }}" class="product__link">
                    <img
                        src="{{ autumn_fire.featured_image | img_url: '640x'}}"
                        alt="{{ autumn_fire.title }}"
                        class="lazyload blur product__img pg-product__img"
                        data-sizes="auto"
                        data-src="{{ autumn_fire.featured_image | product_img_url: '900x' }}"
                        data-srcset=" {{ autumn_fire.featured_image | product_img_url: '300x' }} 300w,
                                        {{ autumn_fire.featured_image | product_img_url: '400x' }} 400w,
                                        {{ autumn_fire.featured_image | product_img_url: '500x' }} 500w,
                                        {{ autumn_fire.featured_image | product_img_url: '600x' }} 600w,
                                        {{ autumn_fire.featured_image | product_img_url: '700x' }} 700w,
                                        {{ autumn_fire.featured_image | product_img_url: '800x' }} 800w,
                                        {{ autumn_fire.featured_image | product_img_url: '900x' }} 900w"
                    >
                </a>
                <p class="product__title">
                    <a href="{{ autumn_fire.url }}" class="product__link">{{ autumn_fire.title }}</a>
                </p>

                <p class="product_price">{{ autumn_fire.price | money }}
                </p>


                {%if autumn_fire.available %}
                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ autumn_fire.variants.first.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product-info__add btn btn--dark add-to-cart" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>
                {% else %}
                    <p class="btn btn--add-to-class">Sold Out</p>
                {% endif %}
            </div>

            {% comment %} Berry Loud Image {% endcomment %}
            <div class="image-wrapper pg-img pg-bl-ls">
                <img src="{{'millenia-lifestyle-berry-loud-3.jpg' | asset_img_url: '800x' }}" alt="" class="image__img">
            </div>

            {% comment %} Berry Loud Product {% endcomment %}
            <div class="product pg-product pg-bl">
                <a href="{{ berry_loud.url }}" class="product__link">
                    <img
                        src="{{ berry_loud.featured_image | img_url: '640x'}}"
                        alt="{{ berry_loud.title }}"
                        class="lazyload blur product__img pg-product__img"
                        data-sizes="auto"
                        data-src="{{ berry_loud.featured_image | product_img_url: '900x' }}"
                        data-srcset=" {{ berry_loud.featured_image | product_img_url: '300x' }} 300w,
                                        {{ berry_loud.featured_image | product_img_url: '400x' }} 400w,
                                        {{ berry_loud.featured_image | product_img_url: '500x' }} 500w,
                                        {{ berry_loud.featured_image | product_img_url: '600x' }} 600w,
                                        {{ berry_loud.featured_image | product_img_url: '700x' }} 700w,
                                        {{ berry_loud.featured_image | product_img_url: '800x' }} 800w,
                                        {{ berry_loud.featured_image | product_img_url: '900x' }} 900w"
                    >
                </a>
                <p class="product__title">
                    <a href="{{ berry_loud.url }}" class="product__link">{{ berry_loud.title }}</a>
                </p>

                <p class="product_price">
                    <span class="money">{{berry_loud.price | money }}</span>
                </p>

                {%if berry_loud.available %}
                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ berry_loud.variants.first.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product-info__add btn btn--dark add-to-cart" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>
                {% else %}
                    <p class="btn btn--add-to-class">Sold Out</p>
                {% endif %}
            </div>

        </div>

        {% comment %} Need Mobile for below product-grid grid layout {% endcomment %}
    </section>


    {% comment %} Lifestyle Grid 2 {% endcomment %}
    <section class="section section--dark">
        <div class="container grid lifestyle-grid lifestyle-grid--2 ls-grid-2">

            {% comment %} Six lifestyle images {% endcomment %}
            
            <div class="grid__img-container ls-grid-2__af">
                <img src="{{'millenia-hero-autumn-fire-1.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia" class="grid__img">
            </div>
            
            <h2 class="lifestyle__title grid__title ls-grid-2__title">Unapologetically <span class="bold">Bold</span></h2>


            <div class="grid__img-container ls-grid-2__illo-front">
                <img src="{{'Millenia_FrontLensView.svg' | asset_url }}" alt="Blenders Eyewear Millenia" class="grid__img">
            </div>
            
            <div class="grid__img-container ls-grid-2__illo-top">
                <img src="{{'Millenia_TopdownView.svg' | asset_url }}" alt="Blenders Eyewear Millenia" class="grid__img">
            </div>
            

            <div class="grid__img-container ls-grid-2__af-ls">
                <img src="{{'millenia-lifestyle-autumn-fire-2.jpg' | asset_img_url: '640x'}}" alt="Blenders Eyewear Millenia" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-2__jc-1">
                <img src="{{'millenia-hero-jenna-cartel-1.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Blue Phoenix" class="grid__img">
            </div>


            <div class="grid__img-container ls-grid-2__bl-1">
                <img src="{{'millenia-hero-berry-loud-1.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia" class="grid__img">
            </div>

            <div class="grid__img-container ls-grid-2__bl-ls">
                <img src="{{'millenia-lifestyle-berry-loud-1.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Berry Loud" class="grid__img">
            </div>

            <h3 class="lifestyle__subtitle grid__subtitle ls-grid-2__subtitle">Reflective Mirror Finish</h3>

            <div class="grid__img-container ls-grid-2__jc-2">
                <img src="{{'millenia-hero-jenna-cartel-2.jpg' | asset_img_url: '640x'}}" alt="Blenders Millenia Jenna Cartel" class="grid__img">
            </div>

        </div>
    </section>

    {% comment %} Video Section {% endcomment %}
    <section class="section section--video">
        <div class="container">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Gn2O8hd2ECo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </section>
    

    <div class="landing__footer"
        style="background:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url('{{ 'millenia-hero-catalog.jpg' | asset_img_url: '1920x' }}'); background-size: cover; background-position: center;"
    >
        <a href="{{shop.url}}/collections/millenia" class="btn btn--cta">SHOP THE MILLENIA COLLECTION</a>
    </div>
</div>
