<div class="section empty-cart-container">
<div class="empty-cart">
<h3 class="center">Today's Top Styles</h3>

{% comment %} Top 4 Best Selling Items {% endcomment %}
<div class="empty-cart-product-container">
    {% assign best_sellers = "all_products.natty-ice-lime,all_products.rose-theater"| split: ',' %}

    {% for product in best_sellers%}
        <h4>{{product.title}}</h4>
    {% endfor %}

    {% for product in collections.best-sellers-blenders-eyewear.products limit:4 %}
    {% assign inventory = product.first_available_variant.inventory_quantity %}

    {% comment %} if sold out, skip {% endcomment %}
    {%if inventory == 0 %} {% continue%} {% endif %}

    {%if product['blue-angel'].inventory > 0 %}
      <h4>Wooohooo</h4>
    {% endif %}

    <div class="product">
        <div class="image__container">
            <a href="{{product.url}}" class="product-img_link">
            <img  src="{{ product.feature_image | product_img_url: '50x' }}"
                alt="{{ product.title | escape }}"
                class="lazyload {{ settings.image_loading_style }} product__img"
                data-sizes="auto"
                data-src="{{ product.feature_image | product_img_url: default }}"
                data-srcset=" {{ product.featured_image | product_img_url: '300x' }} 300w,
                              {{ product.featured_image | product_img_url: '400x' }} 400w,
                              {{ product.featured_image | product_img_url: '500x' }} 500w,
                              {{ product.featured_image | product_img_url: '600x' }} 600w,
                              {{ product.featured_image | product_img_url: '700x' }} 700w,
                              {{ product.featured_image | product_img_url: '800x' }} 800w,
                              {{ product.featured_image | product_img_url: '900x' }} 900w"
                />
            </a>
            </div>
        <h4 class="center product__title">
            <a href="{{product.url}}" class="product__title-img_link">{{ product.title }}</a>
        </h4>
        <p class="center price product__price">{{product.price | money }}</p>
        <a href="{{product.url}}" class="button btn product__btn">Learn More</a>

        <form action="/cart/add">
        <input type="hidden" name="id" value="{{ spirit.variants.first.id }}">
        <button type="submit" name="add" class="action_button add_to_cart product-info__add product-info__add--green" data-label={{ add_to_cart_label | json }}>
          {{ 'products.product.add_to_cart' | t }}
        </button>
      </form>

        {% comment %} Yotpo {% endcomment %}
        <div class="yotpo-container yotpo-empty-cart-container">
            <div class="yotpo bottomLine yotpo-empty-cart"
            data-appkey="7Na4Xsq5Vf0s5VxSDIrDl56IRsBb1HHiohLKFKOK"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product.id }}"
            data-product-models="{{ product.id }}"
            data-name="{{ product.title | escape }}"
            data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}"
            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
            </div>
        </div>

    </div>
    {% endfor %}
</div>
</div>

</div>