<div class="section empty-cart-container">
    <div class="empty-cart">

    {% comment %} Top Selects {% endcomment %}
    <h3 class="center">Check out Today's Top Styles</h3>

    {% comment %} Top 4 Best Selling Items {% endcomment %}
    <div class="container empty-cart-product-container">
        {% assign best_sellers = collections.empty-cart-recomendations.products %}

        {% comment %} Loop through the first 4 products in 'top selects' {% endcomment %}
        {% for product in best_sellers limit: 4 %}

            {% assign inventory = product.first_available_variant.inventory_quantity %}

            {% comment %} if sold out, skip {% endcomment %}
            {% if product.available %}

            <div class="product-wrap">
                <div class="relative product_image swap-{{ settings.collection_secondary_image }}">
                    <a href="{{product.url}}" class="product-img_link">
                        <div class="image__container">
                            <img  src="{{ product.feature_image | product_img_url: '200x' }}"
                                alt="{{ product.title | escape }}"
                                class="lazyload {{ settings.image_loading_style }} product__img"
                                data-sizes="auto"
                                data-src="{{ product.feature_image | product_img_url: default }}"
                                data-srcset=" {{ product.featured_image | product_img_url: '400x' }} 300w,
                                            {{ product.featured_image | product_img_url: '500x' }} 400w,
                                            {{ product.featured_image | product_img_url: '600x' }} 500w,
                                            {{ product.featured_image | product_img_url: '700x' }} 600w,
                                            {{ product.featured_image | product_img_url: '800x' }} 700w,
                                            {{ product.featured_image | product_img_url: '900x' }} 800w,
                                            {{ product.featured_image | product_img_url: '1000x' }} 900w"
                                />
                        </div>

                        {% if settings.collection_secondary_image != blank %}
                            <div class="image__container">
                            <img src="{% if product.images[1] != blank %}{{ product.images[1] | product_img_url: '900x' }}{% else %}{{ product.featured_image | product_img_url: '900x' }}{% endif %}"
                            class="secondary lazyload"
                            alt="{{ alt_text | escape }}"
                            />
                            </div>
                        {% endif %}
                    </a>

                    <form action="/cart/add">
                        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                        <button type="submit" name="add" class="action_button add_to_cart product__btn" data-label={{ add_to_cart_label | json }}>
                        {{ 'products.product.add_to_cart' | t }}
                        </button>
                    </form>

                    <h4 class="center product__title">
                        <a href="{{product.url}}" class="product__title-img_link">{{ product.title }}</a>
                    </h4>

                    {% comment %} Custom Fields subtitle {% endcomment %}
                    {% for collection in product.collections %}
                        {% if collection.handle == 'a-series'
                            or collection.handle == 'cardiff' or collection.handle == 'east-village'
                            or collection.handle == 'h-series' or collection.handle == 'frontpage'
                            or collection.handle == 'l-series' or collection.handle == 'm-class'
                            or collection.handle == 'millenia' or collection.handle == 'north-park-blenders-eyewear'
                            or collection.handle == 'providence' or collection.handle == 'roxie-1' or collection.handle == 'canyon'
                            or collection.handle == 'test-collection' %}

                            {% comment %} Check if polarized {% endcomment %}
                            {% assign polarized = product.metafields.custom_fields["polarized"] %}                

                            <p class="center product__subtitle">
                            {% if product.metafields.custom_fields["polarized"] == 1 %}
                                <span class="metafield__category metafield__category--polarized">Polarized</span>
                            {% endif %}
                            <span class="metafield__category">{{collection.title}}</span>
                            </p>
                        {% endif %}
                    {% endfor %}

                    <p class="center price product__price">{{product.price | money }}</p>

                    {% comment %} Yotpo {% endcomment %}
                    <div class="yotpo-container yotpo-empty-cart-container">
                        <div class="yotpo bottomLine yotpo-empty-cart"
                        data-appkey="7Na4Xsq5Vf0s5VxSDIrDl56IRsBb1HHiohLKFKOK"
                        data-domain="{{shop.permanent_domain | escape }}"
                        data-product-id="{{ product.id }}"
                        data-product-models="{{ product.id }}"
                        data-name="{{ product.title | escape }}"
                        data-url="{{ shop.url }}{{ product.url }}"
                        data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                        data-description="{{ product.description | escape }}"
                        data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
                        </div>
                    </div>

                </div>
            </div>

            {% endif %}

            <!-- length: {{ forloop.length }} index: {{ forloop.index }}} -->

        {% endfor %}
    </div>

    <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="empty-cart-keep-shopping">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
    </div>

</div>