{% if product.available %}
  {% assign variant = product.selected_or_first_available_variant %}

  <form action="/cart/add"
        method="post"
        class="clearfix product_form init"
        id="product-form-{{ product.id }}"
        data-money-format="{{ shop.money_format }}"
        data-shop-currency="{{ shop.currency }}"
        data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
        data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
        data-product="{{ product | json | escape }}"
        data-product-id="{{ product.id }}"
        >

    <div class="purchase clearfix">
        {% comment %} <input type="hidden" name="return_to" value="back" /> {% endcomment %}

      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}>
        <span class="text">{{ add_to_cart_label }}</span>
        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
          <path fill="none" stroke="{{ settings.btn_text_color }}" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
        </svg>
      </button>

    </div>
  </form>
{% endif %}