<div class="product-details product-details--coming-soon">
  <span class="title" itemprop="name">{{ product.title }}</span>

  {% comment %} Add Custom Fields / Show Custom Category & Polarized / If not category / Show subtitle {% endcomment %}
  {% unless template contains 'cart' %}
    {% if product.metafields.custom_fields["product_subtitle"] != blank %}
        <p class="center product-details__metafields">{{ product.metafields.custom_fields["product_subtitle"] }}</p>
    {% endif %}
  {% endunless %}


<span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
    {% if product.available %}
        {% if product.price_varies and product.price_min > 0 %}
            <small><em>{{ 'products.general.from' | t }}</em></small>
        {% endif %}
        {% if product.compare_at_price_max > product.price and product.available %}
            <span class="was_price">
                <span class="money">{{ product.compare_at_price_max | money }}</span>
            </span>
        {% endif %}

        {% if product.price_min > 0 %}
            <span class="money">{{ product.price_min | money }}</span>
        {% else %}
            {{ settings.free_price_text }}
        {% endif %}

    {% else %}
        <span class="sold_out">{{ 'products.product.sold_out' | t }}</span>
        {% include 'product-notify-me' %}
    {% endif %}
</span>

  {% comment %} Yatpo {% endcomment %}
  <div class="yotpo-container">
    <div class="yotpo bottomLine"
      data-appkey="7Na4Xsq5Vf0s5VxSDIrDl56IRsBb1HHiohLKFKOK"
      data-domain="{{shop.permanent_domain | escape }}"
      data-product-id="{{ product.id }}"
      data-product-models="{{ product.id }}"
      data-name="{{ product.title | escape }}"
      data-url="{{ shop.url }}{{ product.url }}"
      data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
      data-description="{{ product.description | escape }}"
      data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
    </div>
  </div>
</div>
