<div id="productTabs" class="product-tabs">
        <div id="tabsTitles" class="product-tabs__titles">
            <a href="#tab1" class="product-tabs__tab-title" id="productTab1">Details</a>
            <a href="#tab2" class="product-tabs__tab-title" id="productTab2">Fit</a>
            <a href="#tab3" class="product-tabs__tab-title" id="productTab3">Description</a>
        </div>

        <div class="product-tab__info">
            
            {% comment %} First Tab - Details {% endcomment %}
            <div id="tab1" class="product-tab product-tab__details">
                {% comment %} Vibe {% endcomment %}
                {%if product.metafields.custom_fields["vibe"] != blank %}
                    <div class="product-tab__detail">
                        <p class="product-tab__detail-title">Vibe</p>
                        <p class="product-tab__detail-value">
                            {{ product.metafields.custom_fields['vibe']}}
                            {% comment %} add womens tag if womens {% endcomment %}
                            {% if product.metafields.custom_fields["womens"] != blank %}
                                {% if product.metafields.custom_fields["womens"] == 1 %}
                                    | Women's
                                {% endif %}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}

                {% comment %} Frame (color, material) {% endcomment %}
                {% for collection in product.collections %}
                    {% if collection.handle == 'a-series'
                        or collection.handle == 'cardiff' or collection.handle == 'east-village'
                        or collection.handle == 'h-series' or collection.handle == 'frontpage'
                        or collection.handle == 'l-series' or collection.handle == 'm-class'
                        or collection.handle == 'millenia' or collection.handle == 'north-park-blenders-eyewear'
                        or collection.handle == 'providence' or collection.handle == 'roxie-1'
                        or collection.handle == 'test-collection' %}
                        <div class="product-tab__detail">
                            <p class="product-tab__detail-title">Frame</p>

                            <p class="product-tab__detail-value">

                                {% comment %} Frame Color {% endcomment %}
                                {% assign frame_color = product.metafields.custom_fields["frame_color"] %}
                                {%if frame_color != blank %}
                                  {{frame_color}}
                                {% endif %}

                                | {{ collection.title }}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}


                {% comment %} Lens (Color, Polarized, UV) {% endcomment %}
                {% if product.metafields.custom_fields["lens_color"] != blank %}
                    <div class="product-tab__detail">
                        <p class="product-tab__detail-title">Lens</p>

                        <p class="product-tab__detail-value">
                            {{ product.metafields.custom_fields['lens_color']}}
                            {% comment %} add womens tag if polarized {% endcomment %}
                            {% if product.metafields.custom_fields["polarized"] != blank %}
                                {% if product.metafields.custom_fields["polarized"] == 1 %}
                                    | Polarized
                                {% endif %}
                            {% endif %}
                                | 100% UV Protection
                        </p>
                    </div>
                {% endif %}

                {% comment %} Hinges {% endcomment %}
                {% for collection in product.collections %}
                    {% if collection.handle == 'a-series'
                        or collection.handle == 'cardiff' or collection.handle == 'east-village'
                        or collection.handle == 'h-series' or collection.handle == 'frontpage'
                        or collection.handle == 'l-series' or collection.handle == 'm-class'
                        or collection.handle == 'millenia' or collection.handle == 'north-park-blenders-eyewear'
                        or collection.handle == 'providence' or collection.handle == 'roxie-1'
                        or collection.handle == 'test-collection' %}
                        {% assign hinges = collection.metafields.custom_fields["hinge"] %}
                        {% if hinges != blank %}
                            <div class="product-tab__detail">
                                <p class="product-tab__detail-title">Hinges</p>
                                <p class="product-tab__detail-value">{{ hinges }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}


                {% comment %} What's Included: Show for all sunglass and snow goggles {% endcomment %}
                {%if product.type == 'Sunglasses' or product.type == 'Snow Goggles' %}
                  <!-- Product Type: {{product.type}} -->
                  <div class="product-tab__detail">
                      <p class="product-tab__detail-title">Comes with</p>
                      <p class="product-tab__detail-value">Microfiber Pouch + Sticker Pack</p>
                  </div>
                {% endif %}
                
            </div>

            {% comment %} Second Tab - Fit {% endcomment %}
            <div id="tab2" class="product-tab product-tab__fit">
            
                {% for collection in product.collections %}
                    {% if collection.handle == 'a-series'
                        or collection.handle == 'cardiff' or collection.handle == 'east-village'
                        or collection.handle == 'h-series' or collection.handle == 'frontpage'
                        or collection.handle == 'l-series' or collection.handle == 'm-class'
                        or collection.handle == 'millenia' or collection.handle == 'north-park-blenders-eyewear'
                        or collection.handle == 'providence' or collection.handle == 'roxie-1'
                        or collection.handle == 'test-collection' %}

                        {% assign fit_img = collection.metafields.custom_fields["fit_image"] %}

                        {% comment %} If the alt tag is empty... {% endcomment %}
                        {% if fit_img contains 'alt=""' %}
                            {% assign fit_img_url = fit_img | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                        {% else %}
                        {% comment %} If the alt tag has a value... {% endcomment %}
                            {% assign fit_v1 = fit_img | remove: '<img alt="' | split: '" src="'%}
                            {% assign fit_img_url = fit_v1[1] | remove: '" typeof="foaf:Image" />'%}
                        {% endif %}
                        
                        {% comment %} If fir image url exists {% endcomment %}
                        {% if fit_img_url != blank %}
                            <img src="{{ fit_img_url }}" alt="{{ collection.title }} Fit" class="product-tab__img">
                        {% endif %}
                        

                        {% assign fit_blurb = collection.metafields.custom_fields["fit_blurb"] %}
                        {% if fit_blurb != blank %}
                            <p class="product-tab__fit-blurb">{{ fit_blurb }}</p>
                        {% else %}
                            <p class="product-tab__fit-blurb">
                                We forgot to fill out this section, so here's a poop emoji 💩.
                            </p>
                        {% endif %}

                        {% assign frame_size = collection.metafields.custom_fields["frame_size"] %}
                        
                            <div class="product-tab__detail">
                                <p class="product-tab__detail-title">Fit</p>

                                <p class="product-tab__detail-value">
                                    {% if frame_size != blank %}
                                        {% if frame_size == 'S-M'%}
                                            Small - Medium
                                        {% elsif frame_size == 'M-L'%}
                                            Medium - Large
                                        {% elsif frame_size == 'L-XL'%}<span class="value">
                                            Large - Extra Large
                                        {% endif %}
                                    {% else %}
                                        All Sizes
                                    {% endif %}
                                </p>
                            </div>
                        

                        {% assign measurements = collection.metafields.custom_fields["frame_measurements"] %}
                        {% if measurements != blank %}
                            <div class="product-tab__detail">
                                <p class="product-tab__detail-title">Measurements</p>

                                <p class="product-tab__detail-value">{{ measurements }}</p>
                            </div>
                        {% endif %}

                    {% endif %}
                {% endfor %}

            </div>

            <div id="tab3" class="product-tab product-tab__description">
                {{product.description}}
            </div>
        </div>

    </div>