{% comment %}
** Cart page - default view **
- Template section
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

<div class="section clearfix">
  <div class="sixteen columns">
    {%if cart.item_count == 0 %}
      <h1>Your Cart is Empty 🐐</h1>
    {% else %}
      <h1>{{ 'cart.general.title' | t }}</h1>
    {% endif %}

    
    <div class="shippingmessage">
        {% assign shippingThreshold = 4000 %}
        {% assign amountUntilFreeShipping = shippingThreshold | minus: cart.total_price | money %}

        {% if cart.total_price >= shippingThreshold %}

          <div class="shipping-notice shipping-notice--free"><span class="highlight">BOOM. You scored FREE Shipping!</span><br>All orders over $40 ship Free.</div>

        {% elsif cart.total_price > 0%}

          <div class="shipping-notice shipping-notice--until-amount">
            Add {{ amountUntilFreeShipping }} more to get FREE Shipping!<br>
            All orders over $40 ship Free.
          </div>

        {% else %}
          <div class="shipping-notice shipping-notice--empty">
            Add more items to get FREE Shipping!<br>
            All orders over $40 ship Free.
          </div>
        {% endif %}
    </div>

      {% comment %} Top Checkout {% endcomment %}
      <form action="/cart" method="post" id="cart_form">
        <div class="top-cart-checkout">
          {% if cart.item_count > 0 %}
            <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
          {% endif %}
        </div>
      </form>

    <div class="feature_divider"></div>
    
    {% comment %} Cart Mobile Upsell {% endcomment %}
      <div class="mobile-upsell">  
        
        {% for item in cart.items %}
          {% if item.product.type == "Sunglasses" %}
            {% assign sunglasses_in_cart = true %}
          {% endif %}
        {% endfor %}
          
        {% for item in cart.items %}
          {% if item.product.type == "Soft Pouches" %}
            {% assign sunglasses_in_cart = false %}
          {% endif %}
        {% endfor %}
          
        {% if sunglasses_in_cart %}
          {% include 'mobile-upsell' %}
        {% endif %}

      </div>
    {% comment %} End Mobile Upsell {% endcomment %}


  </div>
</div>

{% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix cart-empty-message__section">
      <div class="six columns offset-by-five cart-empty-message">
        {% comment %} <p class="quote">{{ 'cart.general.continue_browsing_html' | t }} 😢</p> {% endcomment %}
      </div>
      <br class="clear" />
    </div>
  </div>

  {% comment %} Call empty cart logic if cart is empty {% endcomment %}
  {% include 'empty-cart' %}

{% else %}

  <form action="/cart" method="post" id="cart_form">
    <div class="section clearfix">
      <div class="ten columns">
        {% assign total_saving = 0 %}
        {% for item in cart.items %}
          {% if item.variant.compare_at_price > item.variant.price %}
            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
            {% assign total_saving = saving | plus: total_saving %}
          {% endif %}

          <div class="section clearfix cart-product">
            <div class="three columns alpha">
              <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                <img  src="{{ item | img_url: '100x' }}"
                      alt="{{ item.title | escape }}"
                      class="lazyload {{ settings.image_loading_style }}"
                      style="max-width: {{- item.image.width -}}px"
                      data-sizes="auto"
                      data-src="{{ item | img_url: '900x' }}"
                      data-srcset=" {{ item | img_url: '300x' }} 300w,
                                    {{ item | img_url: '600x' }} 600w,
                                    {{ item | img_url: '900x' }} 900w"
                       />
              </a>
            </div>

            <div class="seven columns omega cart_content_info">
              <h3>
                <a href="{{ item.url }}">{{ item.product.title }}</a>
              </h3>

              {% comment %} Add Custom Fields / Show Custom Category & Polarized / If not category / Show subtitle {% endcomment %}
              {% if item.product.metafields.custom_fields["product_subtitle"] != blank %}
                  <p class="cart-product__metafields">{{ item.product.metafields.custom_fields["product_subtitle"] }}</p>
              {% endif %}

              {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                <p class="meta">
                  {% for option in item.product.options %}
                    <span class="label">{{ option }}:</span> <span>{{ item.variant.options[forloop.index0] }}</span><br />
                  {% endfor %}
                </p>
              {% endunless %}

              {% if item.properties %}
                <p>
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {% if p.last contains '/uploads/' %}
                        <div>
                          {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                        </div>
                      {% else %}
                        <div>
                          {{ p.first }}: {{ p.last }}
                        </div>
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </p>
              {% endif %}

              <p class="modal_price">
                {% comment %} Check if this is a BOGO ITEM and free {% endcomment %}
                {% if item.total_discount == item.original_line_price %}

                  {%if item.quantity == 1 %}
                    {% comment %} Single Item {% endcomment %}
                    <span class="bogo-free-item-message">This pair is FREE!</span>

                  {% elsif item.quantity > 1 %}
                    {% comment %} Multiple Items {% endcomment %}
                    <span class="bogo-free-item-message">These pairs are FREE!</span>
                  {% endif %}

                {% elsif item.price > 0 %}
                  {% comment %} Check if items is on sale, if on sale, use the 'sale' class {% endcomment %}
                  {% if item.price < item.variant.compare_at_price %}
                    <span class="sale">{{ item.price | money }}</span>
                  {% else %}
                    {{ item.price | money }}
                  {% endif %}
                {% else %}
                  {{ settings.free_price_text }}
                {% endif %}

                {% comment %} Was/Before Price {% endcomment %}
                {% if item.total_discount == 0 and item.price < item.variant.compare_at_price %}
                  <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                {% endif %}
              </p>

              <div class="product-quantity-box left">
                <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                <input type="number" min="0" size="2" class="quantity" inputmoe="numeric" pattern="[0-9]*" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
                <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="five columns offset-by-one">
        <div class="section clearfix">

        {% comment %} Utilizing Script sale prices {% endcomment %}
        {% assign total_script_price = cart.orginal_total_price %}
          <div class="subtotal">
            <p class="cart_subtotal js-cart_subtotal">

              <span class="right">
            {% comment %} If No script discount/sale {% endcomment %}
            <!-- Cart Total Discount: {{ cart.total_discount }} -->
            <!-- Cart Total Price: {{ cart.total_price }} -->
            {% if cart.total_discount == 0%}
                {{ cart.total_price | money }}
            {% endif %}
              </span>
              <span>{{ 'cart.general.subtotal' | t }}</span>
            </p>

            {% if section.settings.display_savings %}
              <p class="cart_savings sale">
                {% if total_saving > 0 %}
                  <span class="right">
                    <span class="money">{{ total_saving | money }}</span>
                  </span>
                  <span>{{ 'layout.general.savings' | t }}</span>
                {% endif %}

                {% comment %} BOGO SALE Message {% endcomment %}
                {% assign bogo_count = 0%}
                  {% for item in cart.items %}
                      {% if item.product.tags contains "BOGO" and item.total_discount > 0 %}
                          {% capture raw_free_count %} {{bogo_count | plus: item.quantity }} {% endcapture %}
                      {% endif %}
                  {% endfor %}
                
                  {% assign free_count = raw_free_count | times: 1 %}
                  
                  {% comment %} Bogo Item Counter Messages {% endcomment %}

                  {% if free_count > 1%}
                    <span class="cart-message-bogo">Ya Mon! You Scored {{ free_count }} FREE pairs!</span>
                  {% elsif free_count == 1%}
                    <span class="cart-message-bogo">Ya Mon! You Scored a FREE pair!</span>
                  {% endif %}


              </p>
            {% endif %}


            {% if section.settings.display_special_instructions %}
              <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
              <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
            {% endif %}

            {% if section.settings.display_tos_checkbox %}
              <p>
                <input type="checkbox" class="tos_agree" id="cart_agree" required />
                  <label class="tos_label" for="cart_agree">
                    {{ 'cart.general.agree_to_terms_html' | t }}
                  </label>
                {% if settings.tos_page != blank %}
                  <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                {% endif %}
              </p>
            {% endif %}

            {% if section.settings.cart_message != blank %}
              <div>
                {{ section.settings.cart_message }}
              </div>
            {% endif %}

            <p>
              <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
            </p>

            {% if content_for_additional_checkout_buttons %}
              <div class="additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}

            {% if cart.item_count > 0 %}
              <div class="featured-links">
                <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="secondary_button">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>

  {% comment %} {% include 'cart-shipping-calculator' %} {% endcomment %}

  <div class="container recomatic-container--cart">
  {% comment %} <h4 class="title center">You Might Also Dig</h4> {% endcomment %}
  {% comment %} <div recomatic="cart" shop="{{shop.permanent_domain}}" product_ids="{{cart.items|map:'product'|map:'id'|join:','}}"></div> {% endcomment %}
  {% include 'recomatic-related-products', widget: "cart" %}
  </div>


{% endif %}

{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_tos_checkbox",
      "label": "Show \"agree to terms\" checkbox"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "related_products",
      "label": "Show Related Products",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    }
  ]
}

{% endschema %}
