<a name="pagecontent" id="pagecontent"></a>


{% comment %}
  If heading text is filled out, show collection banner with text overlay, if not, show original image with '--has-image' collection banner
{% endcomment %}
{%if section.settings.heading != '' %}
  <div class="collection_banner collection_banner--join-the-team" style="background-image:url('{{ section.settings.marquee | img_url: '2600x' }}');">
    <img src="{{ 'banner-ghost.png' | asset_url }}" class="ghost" />

    {%if section.settings.top_heading != '' %}
      <h4 class="collection_banner_top_heading">{{ section.settings.top_heading }}</h4>
    {% endif %}

    <h1 class="collection_banner_title">{{ section.settings.heading }}</h1>

    {%if section.settings.subheading != '' %}
      <h4 class="collection_banner_description">{{ section.settings.subheading }}</h4>
    {% endif %}
  </div>
{% else %}

  <div class="collection_banner collection_banner--has-image collection_banner--join-the-team">
    <img src="{{ 'banner-ghost.png' | asset_url }}" class="ghost" />
    <img class="collection_banner_img" src="{{ section.settings.marquee | img_url: '2600x' }}" />
  </div>
{% endif %}


<div class="container main join join-the-team__container">

      {% for block in section.blocks %}

        <!--GRID ITEM -->
            <div class="join-the-team__div join-team__div--{{block.settings.title | handleize }}" style="background-image: url('{{ block.settings.background | img_url: '500x'}}')">
                {% assign url = block.settings.link %}
                <a href="{{ url }}" class="join-the-team__link" target="_blank" rel="noopener">
                    <h4 class="join-the-team__title">{{ block.settings.title }}</h4>
                </a>
            </div>

      {% endfor %}

</div>



  {% schema %}

  {
    "name": "Join The Team",
    "class": "join-the-team",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "top_heading",
        "label": "Page Top Heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Page Title"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Page Subheading"
      },
      {
        "type": "image_picker",
        "id": "marquee",
        "label": "Marquee Image"
      }
    ],
    "blocks": [
      {
        "type": "grid-item",
        "name": "Grid Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "image_picker",
            "id": "background",
            "label": "Background Image"
          },
          {
            "type": "text",
            "id": "link",
            "label": "Link",
            "info": "URL to Google Form"
          }
        ]
      }
    ]
  }

  {% endschema %}
