{% comment %}
** Product - default view - Edited by Adam 3/30 **
- Product template
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">

    {% comment %} Yotpo Reviews {% endcomment %}
    <div class="top-of-product-reviews">

        {% comment %} Yotpo {% endcomment %}
        <div class="yotpo-container top-of-product-reviews__review">
            <div class="yotpo bottomLine"
                data-appkey="7Na4Xsq5Vf0s5VxSDIrDl56IRsBb1HHiohLKFKOK"
                data-domain="{{shop.permanent_domain | escape }}"
                data-product-id="{{ product.id }}"
                data-product-models="{{ product.id }}"
                data-name="{{ product.title | escape }}"
                data-url="{{ shop.url }}{{ product.url }}"
                data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                data-description="{{ product.description | escape }}"
                data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
            </div>
        </div>
    </div>

    {% comment %} Product Form {% endcomment %}
    <div class="product product--custom clearfix">
        <div class="sixteen columns">

            <div  class="product-{{ product.id }}"
            data-free-text="{{ settings.free_price_text }}"
            >
            <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">

                <div class="nine columns {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
                    {% include 'product-images' %}
                </div>

                <div class="seven columns {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %} product-info">

                    {% assign collection_handles = product.collections | map: 'handle' %}
                    {% assign variant = product.selected_or_first_available_variant %}

                    {% if product.available %}
                        {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
                        <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
                        {% endif %}
                    {% endif %}
                    {% if collection_handles contains 'new' %}
                        <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
                    {% endif %}

                    <div class="product-meta">
                        {%if product.type =='Sunglasses' or product.type == 'Snow Goggles' %}
                            {% comment %} Meta description (category and polarized) {% endcomment %}
                            {%if product.metafields.custom_fields["category"] != blank %}
                                <p class="product-meta__type">
                                    {{ product.metafields.custom_fields['category']}}
                                    {% if product.metafields.custom_fields["polarized"] != blank and product.metafields.custom_fields["polarized"] == 1 %}
                                        <span class="product-meta__polarized"> // Polarized</span>
                                    {% endif %}
                                </p>
                            {% endif %}
                        {% else %}
                            <p class="product-meta">{{ product.type}}</p>
                        {% endif %}

                        {% if settings.size_chart != blank %}

                            {% comment %} Check if collection has size guide image  {% endcomment %}
                            {% for collection in product.collections %}
                              {% if collection.handle == 'a-series'
                                  or collection.handle == 'cardiff' or collection.handle == 'east-village'
                                  or collection.handle == 'h-series' or collection.handle == 'frontpage'
                                  or collection.handle == 'l-series' or collection.handle == 'm-class'
                                  or collection.handle == 'millenia' or collection.handle == 'north-park-blenders-eyewear'
                                  or collection.handle == 'providence' or collection.handle == 'roxie-1'
                                  or collection.handle == 'test-collection' %}

                                  {% assign collection_blurb = collection.metafields.custom_fields["fit_blurb"] %}
                                  {% assign collection_image = collection.metafields.custom_fields["fit_image"] %}
                                  {% assign collection_size  = collection.metafields.custom_fields["frame_measurements"] %}

                                  {% comment %} If the alt tag is empty... {% endcomment %}
                                  {% if collection_image contains 'alt=""' %}
                                      {% assign collection_image_url = collection_image | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                                  {% else %}
                                  {% comment %} If the alt tag has a value... {% endcomment %}
                                      {% assign collection_image_v1 = collection_image | remove: '<img alt="' | split: '" src="'%}
                                      {% assign collection_image_url = fit_v1[1] | remove: '" typeof="foaf:Image" />'%}
                                  {% endif %}

                                <a href="#size-chart" id="desktopSizeChartToggle" class="size-chart--desktop" data-remodal-target="size-chart" data-collection-blurb="{% if collection_blurb != blank%}{{ collection_blurb }}{% endif %}" data-collection-image="{% if collection_image != blank%}{{ collection_image_url }}{% endif %}" data-collection-size="{% if collection_size != blank%}{{ collection_size }}{% endif %}" data-no-instant>{{ 'products.product.size_chart' | t }} <i class="fal fa-chevron-right fa-xs"></i></a>
                              
                              {% elsif collection.handle == blank %}

                                <a href="#size-chart" class="size-chart--desktop" data-remodal-target="size-chart" data-no-instant>{{ 'products.product.size_chart' | t }} <i class="fal fa-chevron-right fa-xs"></i></a>
                              
                              {% endif %}
                            {% endfor %}

                        {% endif %}
                    </div>

                    <h1 class="product_name product-title" itemprop="name">{{ product.title }}</h1>

                    <div class="product-price-reviews">
                      {% if product.available %}
                        <p class="modal_price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                        <meta itemprop="seller" content="{{ shop.name | escape }}" />
                        <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                        <meta itemprop="itemCondition" content="New" />

                        <span itemprop="price" content="{{ variant.price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                            <span class="current_price {% if product.available == false %}hidden{% endif %}">
                            {% if variant.price > 0 %}
                                <span class="money">{{ variant.price | money }}</span>
                            {% else %}
                                {{ settings.free_price_text }}
                            {% endif %}
                            </span>
                        </span>

                        <span class="was_price">
                            {% if variant.price < variant.compare_at_price and variant.available %}
                            <span class="money">{{ variant.compare_at_price | money }}</span>
                            {% endif %}
                        </span>

                        {% if section.settings.display_savings %}
                            <span class="sale savings">
                            {% if variant.price < variant.compare_at_price and variant.available %}
                                {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}%
                            {% endif %}
                            </span>
                        {% endif %}
                        </p>
                      {% endif %}

                      {%unless product.available %}
                        <button id="notifyToggle" class="notify-toggle">Email When Available</button>
                        {% include 'product-notify-me' %}
                      {% endunless %}

                      <div class="yotpo-container product-price-reviews__review">
                          <div class="yotpo bottomLine"
                              data-appkey="7Na4Xsq5Vf0s5VxSDIrDl56IRsBb1HHiohLKFKOK"
                              data-domain="{{shop.permanent_domain | escape }}"
                              data-product-id="{{ product.id }}"
                              data-product-models="{{ product.id }}"
                              data-name="{{ product.title | escape }}"
                              data-url="{{ shop.url }}{{ product.url }}"
                              data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
                              data-description="{{ product.description | escape }}"
                              data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
                          </div>
                      </div>
                    </div>

                    {% include 'product-form' with 'product' %}

                </div>
            </div>

            </div>

        </div>
    </div>
</div>

{% comment %} Mobilde Product Fit Guide {% endcomment %}
{% include 'product-fit'%}


{% comment %} Product Icons {% endcomment %}
{% include 'product-icons'%}


<section class="product-lifestyle-container">
    <div class="container">
        <div class="sixteen columns">
            <div class="eight columns alpha lifestyle-container">
                <h4 class="lifestyle-product-title">{{product.title}}</h4>

                {% comment %} Lifestyle Image 1 (portrait) {% endcomment %}

                {% comment %} doesn't have alt {% endcomment %}
                {% if product.metafields.custom_fields["image_1"] != blank and product.metafields.custom_fields["image_1"] contains 'alt=""'%}
                    {% assign img_1_url = product.metafields.custom_fields["image_1"] | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}

                {% comment %} If has alt value  {% endcomment %}
                {% elsif product.metafields.custom_fields["image_1"] != blank %}
                    {% assign v1 = product.metafields.custom_fields["image_1"] | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_1_alt = v1[0] %}
                    {% assign img_1_url = v1[1] | remove: '" typeof="foaf:Image" />'%}

                {% endif %}

                {% comment %} Check for @2x image {% endcomment %}
                {% assign img_2x = product.metafields.custom_fields["lifestyle_image_1_@2x"] %}
                {% comment %} If has no alt value {% endcomment %}
                {% if img_2x != blank and img_2x contains 'alt=""'%}
                  {% assign img_1_2x_url = img_2x | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                  <!-- 2x: {{img_1_2x_url}} -->
                
                {% comment %} If has a alt value / get variable for image 1 @2x {% endcomment %}
                {% elsif img_2x != blank %}
                  {% assign v1_2x = img_2x | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_1_2x_url = v1_2x[1] | remove: '" typeof="foaf:Image" />'%}
                  <!-- 2x: {{img_1_2x_url}} -->
                {% endif %}

                {% comment %} Check for @3x Image {% endcomment %}
                {% assign img_3x = product.metafields.custom_fields["lifestyle_image_1_@3x"] %}
                {% comment %} If has no alt value {% endcomment %}
                {% if img_3x != blank and img_3x contains 'alt=""'%}
                  {% assign img_1_3x_url = img_3x | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                  <!-- 3x: {{img_1_3x_url}} -->
                
                {% comment %} If has a alt value / get variable for image 1 @2x {% endcomment %}
                {% elsif img_3x != blank %}
                  {% assign v1_3x = img_3x | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_1_3x_url = v1_3x[1] | remove: '" typeof="foaf:Image" />'%}
                  <!-- 3x: {{img_1_3x_url}} -->
                {% endif %}


                {% comment %} Lifestyle Image 1 {% endcomment %}

                {% comment %} Check for if all resolutions are present - use fallback if not loading correctly {% endcomment %}
                {% if img_1_url != blank and img_1_2x_url != blank and img_1_3x_url != blank%}

                <img
                      src="{{img_1_url}}"
                      srcset=" {{ img_1_url }} 1x,
                                    {{ img_1_2x_url }} 2x,
                                    {{ img_1_3x_url }} 3x"  
                      data-flickity-lazyload="{{img_1_url}}"
                      alt="{%if img_1_alt %}{{img_1_alt}}{%else%}{{product.title}}{% endif %}"
                      class="product-lifestyle-image product-lifestyle-image--1"
                      {% comment %} data-sizes="auto" {% endcomment %}
                      {% comment %} data-src="{{ img_1_3x_url }}" {% endcomment %}
                      data-srcset=" {{ img_1_url }} 1x,
                                    {{ img_1_2x_url }} 2x,
                                    {{ img_1_3x_url }} 3x"
                      >

                {% comment %} If only 1x image available {% endcomment %}
                {% elsif img_1_url != blank %}

                  <img
                      src="{{img_1_url}}"
                      data-flickity-lazyload="{{img_1_url}}"
                      alt="{%if img_1_alt %}{{img_1_alt}}{%else%}{{product.title}}{% endif %}"
                      class="product-lifestyle-image product-lifestyle-image--1">

                {% else %}

                  <img
                      src="https://picsum.photos/640"
                      data-flickity-lazyload="https://picsum.photos/640"
                      alt="{{product.title}}"
                      class="product-lifestyle-image product-lifestyle-image--1">

                {% endif %}

                {% comment %}
                  ----------------------------------------------------------------------------------
                    Lifestyle Image 3 (square)
                  ----------------------------------------------------------------------------------
                {% endcomment %}

                {% comment %} doesn't have alt {% endcomment %}
                {% if product.metafields.custom_fields["lifestyle_image_3"] != blank and product.metafields.custom_fields["lifestyle_image_3"] contains 'alt=""'%}
                    {% assign img_3_url = product.metafields.custom_fields["lifestyle_image_3"] | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                {% comment %} If has alt value  {% endcomment %}
                {% elsif product.metafields.custom_fields["lifestyle_image_3"] != blank %}
                    {% assign v3 = product.metafields.custom_fields["lifestyle_image_3"] | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_3_alt = v3[0] %}
                    {% assign img_3_url = v3[1] | remove: '" typeof="foaf:Image" />'%}
                {% endif %}

                {% comment %} Check for @2x image for image 3 {% endcomment %}
                {% assign img_3_2x = product.metafields.custom_fields["lifestyle_image_3_@2x"] %}

                {% comment %} If has no alt value {% endcomment %}
                {% if img_3_2x != blank and img_3_2x contains 'alt=""'%}
                  {% assign img_3_2x_url = img_3_2x | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                  <!-- image 3 - 2x: {{img_3_2x_url}} -->
                
                {% comment %} If has a alt value / get variable for image 2 @2x {% endcomment %}
                {% elsif img_3_2x != blank %}
                  {% assign v3_2x = img_3x | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_3_2x_url = v3_2x[1] | remove: '" typeof="foaf:Image" />'%}
                  <!-- image 3 - 2x: {{ img_3_2x_url }} -->
                {% endif %}

                {% comment %} Check for @3x Image for image 3 {% endcomment %}
                {% assign img_3_3x = product.metafields.custom_fields["lifestyle_image_3_@3x"] %}
                {% comment %} If has no alt value {% endcomment %}
                {% if img_3_3x != blank and img_3_3x contains 'alt=""'%}
                  {% assign img_3_3x_url = img_3_3x | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                  <!-- image 3 - 3x: {{img_3_3x_url}} -->
                
                {% comment %} If has a alt value / get variable for image 2 @3x {% endcomment %}
                {% elsif img_3_3x != blank %}
                  {% assign v3_3x = img_3x | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_3_3x_url = v3_3x[1] | remove: '" typeof="foaf:Image" />'%}
                  <!-- image 3 - 3x: {{img_3_3x_url}} -->
                {% endif %}


                {% comment %} Check if lifestyle image 3 exists / fallback {% endcomment %}
                {% comment %} Check for if all resolutions are present - use fallback if not loading correctly {% endcomment %}
                {% if img_3_url != blank and img_3_2x_url != blank and img_3_3x_url != blank%}
                <!-- image 3 - 1x: {{ img_3_url }} -->
                <!-- image 3 - 2x: {{ img_3_2x_url }} -->
                <!-- image 3 - 3x: {{ img_3_3x_url }} -->

                <img
                      src="{{img_3_url}}"
                      srcset=" {{ img_3_url }} 1x,
                                    {{ img_3_2x_url }} 2x,
                                    {{ img_3_3x_url }} 3x"  
                      data-flickity-lazyload="{{img_3_url}}"
                      alt="{%if img_3_alt %}{{img_3_alt}}{%else%}{{product.title}}{% endif %}"
                      class="product-lifestyle-image product-lifestyle-image--3"
                      {% comment %} data-sizes="auto" {% endcomment %}
                      {% comment %} data-src="{{ img_3_3x_url }}" {% endcomment %}
                      data-srcset=" {{ img_3_url }} 1x,
                                    {{ img_3_2x_url }} 2x,
                                    {{ img_3_3x_url }} 3x"
                      >

                {% comment %} If only 1x image available {% endcomment %}
                {% elsif img_3_url != blank %}

                  <img
                      src="{{img_3_url}}"
                      data-flickity-lazyload="{{img_3_url}}"
                      alt="{%if img_3_alt %}{{img_3_alt}}{%else%}{{product.title}}{% endif %}"
                      class="product-lifestyle-image product-lifestyle-image--3">

                {% else %}

                  <img
                      src="https://picsum.photos/640"
                      data-flickity-lazyload="https://picsum.photos/640"
                      alt="{{product.title}}"
                      class="product-lifestyle-image product-lifestyle-image--1">

                {% endif %}

                <div class="product-lifestyle-testimonial-container">
                  <div class="product-lifestyle-logo">
                    {% assign accent_color = product.metafields.custom_fields["accent_color"] %}
                    {% if accent_color != blank and accent_color contains '#' %}
                      {% include 'product-lifestyle-logo', color: accent_color %}
                    {% else %}
                      {% include 'product-lifestyle-logo' %}
                    {% endif %}
                    <h2 class="lifestyle-logo__tagline">Life in Forward Motion</h2>
                  </div>
                </div>
            </div>

            {% comment %} Second Column {% endcomment %}
            <div class="eight columns omega product-tab-container">
                {% assign tagline = product.metafields.custom_fields["product_tagline"] %}
                {% if tagline != blank %}
                    <h2 class="product-tagline">{{tagline}}</h2>
                {% endif %}

                <hr class="product-border">

                {% comment %} Lifestyle Image 2 (landscape) {% endcomment %}
                {% comment %} doesn't have alt {% endcomment %}
                {% if product.metafields.custom_fields["lifestyle_image_2"] != blank and product.metafields.custom_fields["lifestyle_image_2"] contains 'alt=""'%}
                    {% assign img_2_url = product.metafields.custom_fields["lifestyle_image_2"] | remove: '<img src="' | remove: '" alt="" typeof="foaf:Image" />' %}
                {% comment %} If has alt value  {% endcomment %}
                {% elsif product.metafields.custom_fields["lifestyle_image_2"] != blank %}
                    {% assign v1 = product.metafields.custom_fields["lifestyle_image_2"] | remove: '<img alt="' | split: '" src="'%}
                    {% assign img_2_alt = v1[0] %}
                    {% assign img_2_url = v1[1] | remove: '" typeof="foaf:Image" />'%}
                {% endif %}

                {% comment %} Lifestyle image 2 check - if no return, use fallback {% endcomment %}
                {%if img_3_url %}
                  <img
                    src="{{img_2_url}}"
                    data-flickity-lazyload="{{img_2_url}}"
                    alt="{%if img_2_alt %}{{img_2_alt}}{%else%}{{product.title}}{% endif %}"
                    class="product-lifestyle-image product-lifestyle-image--2">

                {% else %}

                  <img
                    src="https://picsum.photos/580/387"
                    data-flickity-lazyload="https://picsum.photos/580/387"
                    alt=""
                    class="product-lifestyle-image product-lifestyle-image--2">

                {% endif %}

                {% comment %} Product Tabs {% endcomment %}
                {% include 'product-tabs'%}
            </div>
        </div>
    </div>
</section>


{% include "foursixty-product-slider" %}

{% comment %} Add Recomatic - Adam - 4/4/  {% endcomment %}
{% include 'recomatic-related-products', widget: "product" %}

{% if product.metafields.yotpo.reviews_count != blank %}
    <!-- Yotpo Code -->
    <div class="container">
    <div class="yotpo yotpo-main-widget"
        data-product-id="{{ product.id }}"
        data-name="{{ product.title | escape }}"
        data-url="{{ page.url }}"
        data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
        data-description="{{ product.description | escape }}">
    </div>
    </div>
{% endif %}


{% comment %} 
- Prevent Yotpot Products from showing if the product has no reivews
- Provided by Yotpot Support
-4/16
{% endcomment %}
<style>
@keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}
/* added by yotpo */
div.yotpo.bottomLine .star-clickable {
    animation-duration: 0.01s;
    animation-name: nodeInserted;
}

/* --------styles via custom fields-------- */
{% assign accent = product.metafields.custom_fields["accent_color"] %}
{% if accent != blank %}
    {%if accent contains "#" %}
        .product--custom .product_section .product-info:after {
            background: {{ accent}};
        }

        .product-lifestyle-container .product-border{
            background: {{ accent }};
        }
    {% else %}
        .product--custom .product_section .product-info:after {
            background: #{{ accent}};
        }
        .product-lifestyle-container .product-border{
            background: #{{ accent }};
        }
    {% endif %}
{% endif %}

</style>
<script type="text/javascript">
document.addEventListener('animationstart', function(event) {
    if (event.animationName == 'nodeInserted') {
      	console.log('removing blank yotpo widgets');
        var ratingContent = jQuery('.yotpo.bottomLine a.text-m').text();
        if (ratingContent.includes('Write')) {
            jQuery(".yotpo.bottomLine").remove();
          	jQuery(".yotpo-main-widget").remove();
        }
    }
}, true);
</script>


{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-thumbnails",
      "options": [
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "bottom-thumbnails",
          "label": "Bottom"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 2,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}


