{% comment %}
** Details page - custom view **
- Page template
{% endcomment %}

<a name="pagecontent" id="pagecontent"></a>

<header
  class="collection_banner collection_banner-container"
  style="background-image: url('{{ section.settings.header_image | img_url: '1900x'}}');"
>
{% if section.settings.header_title != blank %}
  <h1 class="collection_banner_title">{{section.settings.header_title}}</h1>
{% else %}
  <h1 class="collection_banner_title">Shop By Frame Shapes</h1>
{% endif %}
</header>

<div id="saso-notifications" class="saso-notifications--below-header" style="padding-top: 0px; "></div>

{% comment %} Custom Built Grid by Adam - 4/5/18 {% endcomment %}
<div class="container shop-frame__container">

    {% for block in section.blocks %}
        {% if block.settings.collection  %}
        {% assign collection_handle = block.settings.collection %}
        {% assign collection = collections[block.settings.collection] %}

        {% if collection %}
        <!-- {{ collection.title }} -->

            <div class="shop-frame__shape shop-frame__shape--{{collection.handle}}">
                <a href="{{ collection.url }}" class="shop-frame__link">
                    {% assign col_image = block.settings.image  %}
                    <!-- img: {{ block.settings.image | img_url: 'medium' }} - {{col_image.src }} -->
                    <img  src="{{ block.settings.image | img_url: '100x' }}"
                    alt="{{ alt_text | escape }}"
                    class="lazyload {{ settings.image_loading_style }}"
                    style="{{ align_height_value }} max-width: {{- block.settings.image.width -}}px;"
                    data-sizes="auto"
                    data-src="{{ block.settings.image | img_url: '900x' }}"
                    data-srcset=" {{ block.settings.image | img_url: '450x' }} 300w,
                                {{ block.settings.image | img_url: '550x' }} 400w,
                                {{ block.settings.image | img_url: '650x' }} 500w,
                                {{ block.settings.image | img_url: '750x' }} 600w,
                                {{ block.settings.image | img_url: '850x' }} 700w,
                                {{ block.settings.image | img_url: '950x' }} 800w,
                                {{ block.settings.image | img_url: '1050x' }} 900w"
                />

                </a>
                <h2 class="center shop-frame__title">{{collection.title}}</h2>
                <a href="{{ collection.url }}" class="button shop-frame__btn">Shop Now</a>
                
            </div>
        
        {% endif %}
        {% endif %}
    {% endfor %}

</div>

{% schema %}

{
  "name": "Page",
  "max_blocks": 16,
  "settings": [
        {
            "type": "image_picker",
            "id": "header_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "header_title",
            "label": "Title"
        }
  ],
  "blocks": [
      {
      "type": "filter_by_collection",
      "name": "Collection list",
      "settings": [
          {
              "id": "collection",
              "type": "collection",
              "label": "Collection",
              "info": "Select a collection"
          },
          {
              "id": "image",
              "type": "image_picker",
              "label": "Image",
              "info": "Select an Image"
          }
      ]
    }
  ]
}

{% endschema %}
